<!DOCTYPE html>
{% load static %}

 <html>
	 <head>
	 	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	 	<title>
	 		Home
	 	</title>
	 </head>
 
	 <body>
	 	<div class="header">
	 		<h1>Hi-Score</h1>
	 	</div>
	 	<div class="homeBar">
	 		<li><a href="{% url 'hi-score:home' %}">Home</a></li>
	 		<li><a href="{% url 'hi-score:genres' %}">Genres</a></li>
	 		<li><a href="{% url 'hi-score:show_games' %}">Games</a></li>
	 	</div>
	 	<div class="logo">
	 		<img src="{% static 'images/logo.png' %}" alt="Hi-Score" style="width:200px;height:120px">
	 	</div>
	 	<div class="search">
	 		<input type="text" placeholder="Search..." name="search" style="width:200px;height:30px">
	 	</div>
	 	<div class="footer">
	 		<a href="#Contact-Us" style="color: #5900B3">Contact Us</a>
	 	</div>
	 	<div class="login">
	 		<h2><u>Login</u></h2>
	 	</div>

	 	<div>
        {% block body_block %}
        {% endblock %}
        </div>

	 </body> 
</html>