<!DOCTYPE html>
{% load static %}



 <html>
	 <head>
	 	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	 	<link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}" />

	 	<title>
	 		{% block title_block %}
	 			Hi-Score
	 		{% endblock %}
	 	</title>

	 	<style>
		{% block style_block %}
		{% endblock %}
		</style>

		 <meta charset="UTF-8">
	 </head>

	 <body>
	 	<div class="header">
	 		<h1>Hi-Score</h1>
	 	</div>
	 	<div class="homeBar">
	 		<li><a href="{% url 'hi-score:home' %}">Home</a></li>
	 		<li><a href="{% url 'hi-score:genres' %}">Genres</a></li>
	 		<li><a href="{% url 'hi-score:show_games' %}">Games</a></li>
	 	</div>
	 	<div class="logo">
	 		<img src="{% static 'images/logo.png' %}" alt="Hi-Score" style="width:160px;height:80px">
	 	</div>
	 	<div class="search">
	 		<input type="text" placeholder="Search..." name="search" style="width:200px;height:30px">
	 	</div>
	 	<div class="footer">
	 		<a href="{% url 'hi-score:contact_us' %}" style="color: #5900B3">Contact Us</a>
	 	</div>
	 	<div class="login">
	 		{% if user.is_authenticated %}
	 			<h3>You are logged in!</h3>
				<a href = "{% url 'hi-score:my_account' %}">
					<img src = "{{ user.userprofile.picture.url }}" alt="Profile Picture" style="width:50px;height:50px">
				</a>
				
	 			<h4><u><a href="{% url 'hi-score:logout' %}">Logout</a></u></h4>
	 		{% else %}
	 			<h4><u><a href="{% url 'hi-score:user_login' %}">Login</a></u></h4>
	 			<h4><u><a href="{% url 'hi-score:signup' %}">Enlist</a></u></h4>
	 		{% endif %}

	 	</div>

	 	<div>
        {% block body_block %}
        {% endblock %}
        </div>

        <script src="{% static "js/jquery-3.6.0.min.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/hi-score-ajax.js" %}" crossorigin="anonymous"></script>
        <script type="text/javascript">
        	varxhttp = new XMLHttpRequest(); 
        	xhttp.onreadystatechange = function() { 
        		if (this.readyState == 4 && this.status == 200) { 
        			document.getElementById("demo").innerHTML = this.responseText; 
        		}
        	}; 
        	xhttp.open("GET",  "https://www.w3schools.com/js/ajax_info.txt", true); 
        	xhttp.send();
    	</script>
	 </body> 
</html>