{% extends 'hi-score/base.html' %}

{% block body_block %}
<div class="welcome">
    <h1>Our Games!</h1>
</div>
{% if user.is_authenticated %}
<div class="welcome">
    <a href = "{% url 'hi-score:add_game' %}">Add a Game!</a>
</div>
{% else %}
<div class="welcome">
    Sign in to add a game!
</div>
{% endif %}

<div class="glist">
{% if games %}
    <ul>
    {% for game in games %}
        <li>
            <a href="{% url 'hi-score:show_game' game.slug %}">{{ game.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no games yet.  Add the first!</strong>
{% endif %}
</div>

{% endblock %}
