{% extends 'hi-score/base.html' %}
{% load static %}

{% load review_tags %}



{% block style_block %}

    .welcome img {
        float: right;
    }

    

{% endblock %}

{% block body_block %}
<div class="gameinfo">
{% if name %}
    <div class="welcome">
        {% if image %}
            <img src="{{image.url}}" alt="Picture of Game" style="width:350px;">
        {% endif %}
        <h2>{{ name }}</h2>
        
        <h3>Genres: 
            {% if genres %}
                {% for genre in genres %}
                    {{genre}}
                {% endfor %}
            {% endif %}
        </h2>

        <h3>{{ desc }}</h3>
        <a href={% url 'hi-score:review_game' slug %}>Leave a Review!</a>
    </div>
    {% for review in reviews %}
        <table>
            {% show_review review False user %}
        </table>
    {% endfor %}
{% else %}
    <strong>Something went wrong!</strong>
{% endif %}
</div>

{% endblock %}
