{% extends 'hi-score/base.html' %}

{% block body_block %}
<div class="welcome">
    <h1>Our Genres!</h1>
</div>

{% if user.is_authenticated %}
<div class="welcome">
    <a href = "{% url 'hi-score:add_genre' %}">Add a Genre!</a>
</div>
{% else %}
<div class="welcome">
    Sign in to add a genre!
</div>
{% endif %}

<div class="glist">
{% if genres %}
    <ul>
    {% for genre in genres %}
        <li>
            <a href="{% url 'hi-score:show_genre' genre.slug %}">{{ genre.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no genres yet.  Add the first!</strong>
{% endif %}
</div>

{% endblock %}
