{% extends 'hi-score/base.html' %}
{% load static %}

{% block title_block %}
	Login
{% endblock %}


{% block body_block %}
	<div class="welcome">
		<h1>Login to Hi-Score</h1>
	{% if message %}
		<h4>{{ message }}</h4>
	{% endif %}
	<form id='login_form' method='post', action="{% url 'hi-score:user_login' %}">
		{% csrf_token %}
		Username: <input type='text' name='username' value='' size='30' />
		<br />
		Password: <input type='password' name='password' value='' size='30' />
		<br />
		<input type="submit" value="submit" />
	</form>
	<br/>
	<p>Login to gain multiple exclusive benefits such as:</p>
	<ul>- Add New Genres</ul>
	<ul>- Add New Games</ul>
	<ul>- Rate Games</ul>
	<p>And much more .....</p>
	</div>

{% endblock %}