{% extends 'hi-score/base.html' %}
{% load static %}

{% block title_block %}
    {{user.username}}: Profile
{% endblock %}

{% block body_block %}

    {% if user_picture %} 
        <img src="{{ user.picture.url }}" alt="Profile Pic" style="width:160px;height:160px">
    {% else %}
        <img src="{% static 'images/profile.png' %}" alt="Hi-Score" style="width:160px;height:160px">
    {% endif %}

    <h2>{{ user.username}}</h2>

    About Me: {{ user.userprofile.aboutme }} <br>
    Date Joined: {{ user.datejoined }}

    

    {% if reviews %}
        {% for review in reviews %}
            {{review.name}}
            {{review.rating}}
        {% endfor %}
    {% endif %}
    
{% endblock %}

