{% extends 'hi-score/base.html' %}
{% load static %}

{% block title_block %}
    {{u.username}}
{% endblock %}

{% block body_block %}

    {% if u.userprofile.picture %} 
        <img src="{{ u.userprofile.picture.url }}" alt="Profile Pic" style="width:160px;height:160px">
    {% else %}
        <img src="{% static 'images/profile.png' %}" alt="Hi-Score" style="width:160px;height:160px">
    {% endif %}

    <h2>{{ u.username}}</h2>

    About Me: {{ u.userprofile.aboutme }} <br>
    Date Joined: {{ u.datejoined }}

    
    {% if user_reviews %}
        {% for review in user_reviews %}
            <h2>{{ review.title}}</h3>
            <h3>{{review.body}}</h2>
            <br>
        {% endfor %}
    {% endif %}
    
{% endblock %}

