{% load static %}

<div class="review">
        <div class="reviewer">

            <h3>{{ review.user.username}}</h3>
            
            <a href = "{% url "hi-score:show_account" review.user.username%}">
            {% if review.user.userprofile.picture %}
                <img src = "{{ review.user.userprofile.picture.url }}" alt="Profile Pic" style="width:60px;height:60px">
            {% else %}
                <img src = "{% static 'images/profile.png' %}" alt="<No Pic>" style="width:60px;height:60px">
            {% endif %}
            </a>

            <h5>{{ review.date }}</h5>
        </div>
        <div class="rtext">
            <h2>
                {% if show_game_name %}
                    {{review.game.name}} - 
                {% endif %}
                {{ review.title }}
            </h2>
            <h2 class="stars" data-rat="{{ review.rating }}">&#11088;&#11088;&#11088;</h2>

            {% if review.captions %}
                <p class="cap" data-emb="{{ review.embed }}"></p>
            {% else %}
                <p>{{ review.body }}</p>
            {% endif %}


            <div>
                <p>
                    <b id="like_count">{{ review.likes }}</b>
                
                    {% if user.is_authenticated %}
                        <button data-reviewid="{{review.id}}" 
                                class="like_btn" 
                                id="btn_id" 
                                type="button">
                            Like
                        </button>
                    {% endif %}
                </p>
            </div>
            

            {% if review.ytlink %}
                <iframe width="560" height="315" src={{ review.embed }} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
        </div>
    </div>